.preload {
  display: flex;
  padding: 3rem;
  height: 90vh;
  width: 90vw;
  justify-content: center;
  align-items: center;
}

.prelaod svg {
  height: auto;
  width: 100vmin;
  margin: 0 auto;
}
#left-arm {
  stroke-dasharray: 1580;
  stroke-dashoffset: 1580;
}
#right-arm {
  stroke-dasharray: 1579;
  stroke-dashoffset: 1579;
}
#stand {
  stroke-dasharray: 3406;
  stroke-dashoffset: 3406;
}
#flash {
  stroke-dasharray: 397;
  stroke-dashoffset: 397;
}
#c {
  stroke-dasharray: 977;
  stroke-dashoffset: 977;
}
#s {
  stroke-dasharray: 2999;
  stroke-dashoffset: 2999;
}
#left-arm,
#right-arm,
#stand,
#flash {
  stroke: black;
  fill: transparent;
  animation: dash 3s linear forwards, fill 1s ease-in forwards 3s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: #fac7ba;
    stroke: transparent;
  }
}

#c {
  fill: transparent;
  stroke: black;
  animation: dash 3s linear forwards, c 1s ease-in forwards 3s;
}
@keyframes c {
  to {
    fill: #ffc885;
    stroke: transparent;
  }
}

#s {
  fill: transparent;
  stroke: black;
  animation: dash 3s linear forwards, s 1s ease-in forwards 3s;
}
@keyframes s {
  to {
    fill: #ff8a9e;
    stroke: transparent;
  }
}
