div {
  display: flex;
  justify-content: center;
}

svg {
  height: 900px;
  width: auto;
  margin: 0 auto;
}

#left-arm,
#right-arm,
#stand,
#flash {
  stroke: black;
  fill: transparent;
  stroke-dasharray: 3420;
  stroke-dashoffset: 3420;
  animation: dash 4s ease-out forwards 3s, fill 3s ease-in forwards 6s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: #fac7ba;
    stroke: transparent;
  }
}

#c {
  fill: transparent;
  stroke: black;

  stroke-dasharray: 3420;
  stroke-dashoffset: 3420;
  animation: dash 4s ease-in-out forwards 3s, c 3s ease-in forwards 6s;
}
@keyframes c {
  to {
    fill: #ffc885;
    stroke: transparent;
  }
}

#s {
  fill: transparent;
  stroke: black;
  stroke-dasharray: 3420;
  stroke-dashoffset: 3420;
  animation: dash 4s ease-in-out forwards 3s, s 3s ease-in forwards 6s;
}
@keyframes s {
  to {
    fill: #ff8a9e;
    stroke: transparent;
  }
}
