.gallery img {
  width: 100%;
}
.gallery {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.img-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  opacity: 1;
}
.overlay {
  display: none;
}
@media screen and (min-width: 576px) {
  .overlay {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #1acccc;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.25em;
    backface-visibility: hidden;
  }
  .overlay::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
    content: "";
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale3d(1.4, 1.4, 1);
  }
  .overlay .overlay-title {
    margin: 10% 0 10% 0;
    transition: transform 0.35s;
  }
  .overlay .overlay-text {
    padding: 1em;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale3d(1.5);
  }

  .img-container:hover .overlay {
    opacity: 0.65;
  }
  .img-container:hover .overlay-title {
    transform: scale(0.9);
  }
  .img-container:hover .overlay::before,
  .img-container:hover .overlay-text {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
