@import url(animations.css);
@import url(styles.css);

.hide {
  display: none;
}

.carousel-caption {
  top: 50%;
  bottom: initial;
  transform: translateY(-50%);
}

.carousel h5 {
  font-size: 5rem;
}

.carousel p {
  font-size: 1.5rem;
  display: none;
}

/* SERVICES */

.services {
  background-color: var(--services);
}
.service {
  background-color: hsla(49, 100%, 97%, 0.75);
}
.services a,
a.get-in-touch {
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
  padding: 0.75rem 2.5rem;
  color: black;
  border-radius: 2.5rem;
}
.services a:hover,
a.get-in-touch:hover {
  background: var(--red);
  color: white;
  border-color: transparent;
}
/* RECENT */
.recent {
  background-color: var(--recent);
}
.img-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #1acccc;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.25em;
  backface-visibility: hidden;
}
.overlay::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 2px solid #fff;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
  content: "";
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale3d(1.4, 1.4, 1);
}
.overlay .overlay-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.35s;
}

.img-container:hover .overlay {
  opacity: 0.65;
}
.img-container:hover .overlay-title {
  transform: translate(-50%, -50%);
}
.img-container:hover .overlay::before,
.img-container:hover .overlay-text {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* TEAM */

.team img {
  width: 50%;
}

/* CONTACT */
.contact {
  background: var(--recent);
}
.contact-info {
  padding: 0 6rem;
}
