@import url(bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Parisienne|Roboto:400,700|Sacramento&display=swap");
:root {
  --red: rgb(216, 8, 8);
  --services: #f2f5f8;
  --recent: #f2f4f8;
  --footer: rgb(61, 63, 62);
  --copyright: rgb(44, 46, 46);
  --font: #a2a2a2;
  --main: hsl(49, 100%, 97%);
}
body {
  background: var(--main);
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h4,
h5,
h6 {
  font-family: "Parisienne", cursive;
}
h3 {
  font-family: "Sacramento", cursive;
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

footer a {
  color: var(--font);
}
a:hover {
  color: var(--red);
  text-decoration: none;
}
nav img {
  width: auto;
}
.navbar-brand p {
  font-size: 2rem;
  font-family: "Sacramento", cursive;
}
img {
  width: 100%;
}
.navbar-lt {
  background: hsla(49, 100%, 97%, 0.7);
}
.navbar-op {
  background: white;
}
.navbar .navbar-nav .nav-item a.nav-link:hover {
  color: var(--red);
}
.navbar-brand img {
  height: 50px;
}
ul {
  list-style-type: none;
}
h3 {
  padding-top: 2rem;
}
hr {
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
  width: 3.5rem;
  border-top: 2px solid black;
}
/* FOOTER */
footer {
  background-color: var(--footer);
  color: var(--font);
}
footer h6 {
  font-size: 2rem;
}
.social-links {
  text-align: center;
}
.social-links a {
  color: white;
  display: inline-block;
  margin: 0.325rem;
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  line-height: 1.875rem;
  border-radius: 50%;
  font-size: 0.875rem;
}
.copyright {
  background-color: var(--copyright);
  padding: 1em;
}
.copyright p {
  margin: 0;
  font-size: 0.75rem;
}
.pages li {
  margin-bottom: 0.5rem;
}
.footer-contact div {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .navbar p {
    font-size: 3rem;
  }

  .services p {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 992px) {
  .navbar-brand img {
    height: 100px;
  }
  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  h3 {
    font-size: 3.5rem;
    padding-bottom: 2rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  .services p {
    font-size: 1rem;
  }
}
